* {	
	font-family: "Lato", sans-serif;
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;		
	color: #000000;	
	font-size: 12px;		
}
select:focus, input:focus, textarea:focus {
    border-radius: 0px;
    outline: none;
    border: 1px solid #000000;
    box-shadow: none;
	text-transform: uppercase;
}
input[type="submit"] {
	border: 1px solid #000000;	
	text-transform: none;	
	text-align: center;	
}
label {
	color: #000000;		
	font-size: 12px;
}
select, input, textarea {
	color:#000;
	font-size: 18px;	
	text-transform: uppercase;
	border: 1px solid #000000;	
	font-size: 12px;	
}

p {
	text-align: justify;
	text-indent: 2em;
}

div {
	padding: 0px;
}

table, td, th {
	padding: 0px;	
}
body {
	font-family: "Lato", sans-serif;
}

.sidenav {
height: 100%;
width: 300px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 10px;
}
.sidenav a, a:hover {
padding-left: 5px;
padding-top: 0px;
text-decoration: none;
font-size: 12px;
color: #ccc;
display: block;
}

.sidenav a:hover {
	color: #ccc;
}

.main {
margin-left: 300px; /* Same as the width of the sidenav */
font-size: 12px; /* Increased text to enable scrolling */
padding: 0px 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

.left {
	float: left;
}
  
.right {
	float: right;
}
  
div {
	padding: 20px;
}