a, a:hover {
	color: #FFF;	
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	text-align: center;		
	color: #FFF;	
	font-size: 16px;		
}
select, input, textarea, select:focus, input:focus, textarea:focus, input[type="submit"] {
    border-radius: 0px;
    outline: none;
    border: 1px solid #000000;
    box-shadow: none;
	text-transform: uppercase;
	font-size: 12px;
}
label {
	color: #FFF;		
	font-size: 12px;
	font-weight: lighter;
}
p {
	text-align: justify;
	text-indent: 2em;
}
table, td, th {
	padding: 0px;	
}
td:nth-child(1) { 
	text-align: right; 
	padding-right: 5px;
}
body {
	font-family: "Lato", sans-serif;
	background-color: #343A40;
	color: #FFF;
	font-size: 18px;
	margin: 0;
	padding: 0;
}
* {		
	border-radius: 0px;
	box-sizing: border-box;
}
.coluna {
	float: left;
	padding: 0px;
} 
.esquerda {
	width: 220px;
	text-align: right;
	padding-top: 5px;
} 
.direita {
	width: 1000px;		
	padding-right: 20px;
	padding-left: 20px;
}
.linha:after {
	content: "";
	display: table;
	clear: both;
}
div {
	padding: 0px;
}